 /* @media (min-width:768px) {

    .header .icon {
        margin-right: 250px !important;
    }

    .navbar .navbar-mar {
        margin: 0px 15px !important;
    }

    .navbar .nav .img {

margin-left: 37%;
    }
    .navv2 {
        display: block !important;
    }
    .navv3 {
     display: block !important;
   
    
    }
    .navv4 {

    right: 195px !important;
    }    
    .imges .imges-mar {
        margin: 0px 15px !important;
    }
    .imges .img-wrap {
        display: grid !important;
        grid-template-columns: repeat(4, 2fr) !important;
        gap: 10px !important;
    
    }
    .img-wrapping .imgg-marging {
        margin: 0px 15px !important;
    }
    .img-wrapping .disp {
        display: grid !important;
        gap: 5px !important;
        grid-template-columns: repeat(4, 1fr) !important;
    
    }
    .wall3 .wall-margin {
        margin: 0px 15px !important;
    }
    .wall3 .wall-padding {
        padding: 0px 0px !important;
    }
    .wall3 .wall-box {
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        gap: 5px !important;
    }
    .wall3 .wall-box .wall-one .para1 {
    
        margin-top: -40% !important;
        margin-left: 25% !important;
  
    }
    .wall3 .wall-box .wall-one .para1 p {
        font-size: 15px !important;
 
        font-weight: 400 !important;
     
    }
    .wall3 .wall-box .wall-one .para1 button {
        width: 80px !important;
        height: 35px !important;
        font-weight: 600 !important;
        font-size: 10px !important;
    
  
    }
    .wall3 .wall-box .wall-two .para2 {
       
        margin-top: -40% !important;
        margin-left: 25% !important;
    }
    .wall3 .wall-box .wall-two .para2 p {
        font-size: 15px !important;
 
        font-weight: 400 !important;
    }
    .wall3 .wall-box .wall-two .para2 button {
        width: 80px !important;
        height: 35px !important;
        font-weight: 600 !important;
        font-size: 10px !important;
    }
    .wall-mar{
        margin: 0px 10px !important;
    }
    .wallpa .wallbox .btn {
    position: absolute !important;
    bottom: 35px !important;
    margin: 0px  36% !important;

}
    .comme-box{
        margin: 0px 40px !important;
    }
    .comme-box {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 10px !important;
    
    }
    footer .f-box .contact {

        display: flex !important;
        gap: 60px !important;
        margin-top: 40px !important;
        margin-left: 25% !important;
        color: white !important;
    
    
    }
} */