* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.header {


    background-color: #09243c;
    margin-bottom: 0.5px;
    padding: 5px;
}

.header .icon {
    margin-right: 150px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: end;

}

.header .icon img {
    background-color: transparent;

    width: 18px;
    height: 18px;

}

.header .icon a .img2 {
    width: 16px;
    height: 16px;
}

.header .icon a span {
    margin-left: 10px;
    font-size: 12px;
    position: absolute;
    color: aliceblue;
}

.header .icon a .down {
    margin-top: 3px;
    margin-left: 35px;
    font-size: 12px;
    position: absolute;
}

.navbar {
/* position: fixed; */
z-index: 1;
width: 100%;

    background-color: #09243c
    
}

.navbar .navbar-mar {
    margin: 0px 150px;
}

.navbar .nav-padding {
    padding: 25px 0px;
}

.navbar .nav {
    display: flex;
    align-items: center;
   

}

.navbar .nav .navv1 {
    position: relative;
}

.navbar .nav .navv1 input {
    width: 130px;
    height: 30px;
    border: transparent;
    padding-left: 30px;
    border-radius: 5px;


}

.navbar .nav .navv1 span {
    margin-left: -120px;
    font-size: 12px;
    color: #09243c;


}

.navv1 input::placeholder {
    font-size: 12px;
}

.navv1 input:focus {
    outline: none;
}

.navv2 {
    position: absolute;
    margin-left: 200px;
    align-items: center;
    display: block;
}
.navv22 {

    display: none;
}

.navv2 ul {
    text-transform: uppercase;
    display: flex;

}

.navv2 ul li {
    padding-left: 25px;
}

.navv2 ul li a {
    color: aliceblue;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.navv2 ul .li1::after {
    content: "";
    width: 0px;
    height: 3px;
    left: 26px;
    top: 25px;
    background-color: aliceblue;
    position: absolute;
    transition: 0.8s ease-in-out all;
}

.navv2 ul .li1:hover.li1::after {
    width: 93px;
}

.navv2 ul .li2::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    top: 25px;
    left: 147px;
    transition: 0.8s ease-in-out all;
    background-color: aliceblue;
}

.navv2 ul .li2:hover.li2::after {
    width: 45px;

}

.navv2 ul .li3::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    top: 25px;
    left: 219px;
    transition: 0.8s ease-in-out all;
    background-color: aliceblue;
}

.navv2 ul .li3:hover.li3::after {
    width: 65px;


}

.navbar .nav .img {

    margin-left: 40%;
    position: absolute;

}

.navbar .nav .img img {

    margin-top: 5px;
    width: 65px;
    height: 65px;
}

.navv3 {
    position: absolute;
    margin-left: 47%;

}

.navv3 ul {
    display: flex ;
}

.navv3 ul li {
    padding-left: 25px;
}

.navv3 ul li a {
    text-transform: uppercase;
    color: aliceblue;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.navv3 ul .li4::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    top: 25px;
    left: 25px;
    transition: 0.8s ease-in-out all;
    background-color: aliceblue;

}

.navv3 ul .li4:hover.li4::after {
    width: 69px;

}

.navv3 ul .li5::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    top: 25px;
    left: 121px;
    transition: 0.8s ease-in-out all;
    background-color: aliceblue;

}

.navv3 ul .li5:hover.li5::after {
    width: 30px;

}

.navv3 ul .li6::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    top: 25px;
    left: 67.5%;
    transition: 0.8s ease-in-out all;
    background-color: aliceblue;

}

.navv3 ul .li6:hover.li6::after {
    width: 85px;

}

.navv4 {
    right: 150px;

    position: absolute;

}

.navv4 a {

    color: aliceblue;
    margin-right: 10px;

}

.navv4 a span {
    font-size: 14px;
}

.bx-wrapper {
    position: relative;
    /* margin-bottom: 60px; */
    /* padding: 0; */
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    background: none !important;
}

.bx-wrapper {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    background: none !important;
}

.bxSlider {
    width: 100%;
    height: 100%;
}

.bxSlider .sliders a img {
    height: 100%;
    width: 100%;
}



p {
    text-transform: uppercase;
    font-size: 19px;
    text-align: center;
    padding: 19px 0;
    font-weight: 500;
}



.imges .imges-mar {
  
    margin: 0px 140px;
}

.imges .img-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.imges .img-wrap .img1 {
    position: relative;
    overflow: hidden;
    width: 240px;
    height: 240px;

    border: 5px solid black;
}

.imges .img-wrap img {
    width: 240px;
    height: 240px;
    scale: 1;
    margin-top: -5px;
    margin-left: -6px;
    transition: 1s ease-in-out all;


}



.imges .img-wrap .img1:hover img {
    scale: 1.2;
    margin-top: 10px;




}

.imges .img-wrap span {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.519);
    width: 100%;
    height: 30px;
    color: white;
    font-weight: 600;
    bottom: 0;
    left: px;
    display: grid;
    place-content: center;
    letter-spacing: 2px;
    font-size: 15px;
}

.imges .img-wrap .img2 {
    margin-top: 70px;
    margin-left: 10px;
    overflow: hidden;
    height: 320px;
    width: 240px;
    border: 4px solid black;
}

.imges .img-wrap .img2 a img {


    height: 320px;
    width: 240px;
}

.imges .img-wrap .img2 a img:hover {
    scale: 1.1;
}

.p1 {
    margin-top: 15px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
}


.img-wrapping .imgg-marging {
    margin: 0px 150px;
}
.img-wrapping .disp {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);

}

.img-wrapping .imgg-padding {
    padding: 35px 0px;
}

.img-wrapping .disp .img-div {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-wrapping .disp .img-div .imgone {
    height: 350px;
    width: 236px;
    border: 4px solid black;
    overflow: hidden;
}




.img-wrapping .disp .img-div .imgone img {
    height: 350px;
    width: 236px;
    /* z-index: 1; */
}

.img-wrapping .disp .img-div .p {
    margin-top: 8px;
    text-align: center;
    font-size: 16px;




}

.img-wrapping .disp .img-div .price {
    text-align: center;
}

.img-wrapping .disp .img-div .price a {
    color: rgba(255, 0, 0, 0.623);
    margin-right: 5px;
}

.img-wrapping .disp .img-div .price span {
    color: rgba(0, 128, 0, 0.76);
}

.img-wrapping .disp .img-div .price a,
span {
    font-size: 10px;

}

.vie-all {
    text-align: center;
}

.vie-all button {
    text-align: center;
    padding: 5px 16px;
    background-color: black;
    color: aliceblue;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: transparent;

}

.wallpa {
    width: 100%;
    height: 100%;
}

.wallpa .wall-padd {
    padding-top: 35px;

}

.wallpa .wallbox {
    position: relative;
}

.wallpa .wallbox .wall-img1 img {
    width: 100%;
    height: 100%;
}

.wallpa .wallbox .btn {
    position: absolute;
    bottom: 35px;
 margin-left: 46%;

}

.wallpa .wallbox .btn button {
    text-align: center;
    width: 120px;
    height: 35px;
    background-color: #09243c;
    color: aliceblue;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: transparent;
    bottom: 0;
    cursor: pointer;

}

.p3 {
    text-align: center;
}

.p3 p {
    font-weight: 700;
}

.luxe {
    padding-top: 30px;
}


.wall3 .wall-margin {
    margin: 0px 40px;
}

.wall3 .wall-padding {
    padding: 20px 0px;
}

.wall3 .wall-box {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 12px;
}

.wall3 .wall-box .wall-one {
    flex: 1;
    position: relative;
    width: 50%;
    height: 50%;

}

.wall3 .wall-box .wall-one .wa-img {
    width: 100%;
    height: 100%;
}

.wall3 .wall-box .wall-one .wa-img img {
    width: 100%;
    height: 100%;

}

.wall3 .wall-box .wall-one .para1 {
    position: absolute;
    margin-top: -25%;
    margin-left: 32%;
    text-align: center;
}

.wall3 .wall-box .wall-one .para1 p {
    font-size: 30px;
    color: aliceblue;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wall3 .wall-box .wall-one .para1 button {
    width: 120px;
    height: 35px;
    border: transparent;
    background-color: #c76224;
    font-weight: 600;
    font-size: 16px;

    text-transform: uppercase;
    color: aliceblue;
    border-radius: 4px;
}


.wall3 .wall-box .wall-two {
    flex: 1;
    width: 50%;
    height: 50%;
    position: relative;

}

.wall3 .wall-box .wall-two .wall-img1 {
    width: 100%;
    height: 100%;
}


.wall3 .wall-box .wall-two .wall-img1 img {
    width: 100%;
    height: 100%;
}

.wall3 .wall-box .wall-two .para2 {
    position: absolute;
    margin-top: -25%;
    margin-left: 32%;
    text-align: center;
}

.wall3 .wall-box .wall-two .para2 p {
    font-size: 30px;
    color: aliceblue;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wall3 .wall-box .wall-two .para2 button {
    width: 120px;
    height: 35px;
    border: transparent;
    background-color:#c76224;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: aliceblue;
    border-radius: 4px;
}

.para5 {
    text-align: center;
    margin-bottom: 15px;
}

.vie-all1 {
    text-align: center;
    margin-bottom: 25px;
}

.vie-all1 button {
    text-align: center;
    padding: 5px 16px;
    background-color: black;
    color: aliceblue;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: transparent;

}

.commet .comm-margin {
    margin: 0 80px;

}

.commet .comm-padd {
    padding: 20px 0;
}



.come-box1 {
    text-align: center;
    transition: 0.5s ease-in-out all;
}

 .come-box1:hover {

    box-shadow: 5px 5px 7px 0px rgb(29 21 21 / 52%);
}

 .come-box1 .comm-img {
    position: inherit;
    z-index: 1;


}

 .come-box1 .comm-img {
    overflow: hidden;
}

 .come-box1 .comm-img img {
    width: 230px;
    height: 342px;
    transition: 0.5s ease-in-out all;
}

.comme-box .come-box1 .comm-img img:hover {
    scale: 1.2;
}

 .come-box1 .comm-symbl {
    position: absolute;
    margin-left: 80px;
    margin-top: -20px;


}

 .come-box1 .comm-symbl button {
    width: 50px;
    height: 40px;
    border-radius: 50%;
    background-color: aliceblue;
    color: black;
    font-size: 16px;
    border: transparent;
}

 .come-box1 .comm-mess {
    margin-top: 10px;
    margin-bottom: 15px;
}

 .come-box1 .comm-mess p {
    font-size: 10px;
    text-align: center;

}

.arrowss .arrows-margin {
    margin: 0px 45px;
}

.arrowss .arrows-padding {
    padding: 20px 0px;
}

.arrwos {
    display: flex;
    justify-content: space-between;
}

.arrwos .right span,
.left span {
    font-size: 20px;
}

.arrwos .middl button {
    text-align: center;
    padding: 5px 16px;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 11px;
    text-transform: uppercase;

}

footer .f-box .above {

    background-color: #09243c;

}
.f-box{
    padding-bottom: 38px;
   
} 

footer .f-box .above img {
    margin: 0;
    padding: 0;

    width: 333px;
    height: 60px;



}

footer .f-box .above-para {
    padding-top: 100px;
    text-align: center;
    margin: 40px 0;
    color: #c76224;
    padding-bottom: 15px;

}

footer .f-box .above-para h1 {
    color: white;
    padding-bottom: 15px;
}

footer .f-box .above-para p {
    font-size: 12px;
 
   
    /* width: 40%;
    te */

}

footer .f-box .above-para input {
    width: 240px;
    height: 40px;
    background-color: #868f9748;
    border: transparent;
    text-align: center;
margin-top: 20px;

}

footer .f-box .above-para button {
    width: 120px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 0.384);
    text-transform: uppercase;
    background-color: #0236a593;
    color: white;
}

input::placeholder {
    color: white;
    font-size: 18px;
}

footer .f-box {
    text-align: center;
    background: url(img1/Footer_Banner.webp);
    height: 100%;
}

footer .f-box .f-img img {

    height: 100px;
    width: 100px;
    color: #c76224;
}

footer .f-box .f-img p {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-size: 10px;
    color: white;
}

footer .f-box .contact {

    display: flex;
    gap: 60px;
    margin-top: 40px;
    margin-left: 36%;
    color: white;


}

footer .f-box .contact .con-1 h5,
.con-2,
h5,
.con-3 h5 {
    font-size: 16px;
}

footer .f-box .contact .con-1 ul,
.con-2 ul {
    padding-bottom: 145px;
    text-align: center;
}

footer .f-box .contact .con-2 ul::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 180px;
    background-color: rgba(238, 240, 240, 0.575);
    transform: rotate(90deg);
    margin-left: -180px;
    margin-top: 60px;
}

footer .f-box .contact .con-2 ul::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 180px;
    transform: rotate(90deg);
    background-color: rgba(230, 241, 241, 0.521);
    margin-left: px;
    margin-top: -74px;
}

footer .f-box .contact .con-1 li,
.con-2 li {
    margin-top: 10px;
    font-size: 10px;
}

footer .f-box .contact .con-1 li a:hover {
    color: #c76224;
}

footer .f-box .contact .con-2 li a:hover {
    color: #c76224;
}


footer .f-box .contact .con-1 li a,
.con-2 li a {
    color: white;
}

footer .f-box .contact .con-3 {
    text-align: center;
    flex-direction: column;
}

footer .f-box .contact .con-3 .img-fab {
    margin-top: 15px;
}

footer .f-box .contact .con-3 .img-fab img,
.img-insta img {

    width: 10px;
    height: 10px;
    

}







