@media (max-width: 576px) {
  footer {
    padding: 10px 0px;
  }

  footer .foot {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  footer .foot .icon ul {
    margin-left: 100px;
  }

  .header .navbar .nav {
    display: none;
  }

  .header .navbar .barss {
    display: block !important;
  }
  .header .navbar .sarch {
    display: none;
  }
}
