* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
footer {
  background-color: #26243c;
  color: white;
  padding: 20px 0px;
  align-items: center;
}
footer .foot {
  display: flex;
}
footer .foot .lon {
  padding-right: 40px;
  padding-left: 30px;
  color: rgba(255, 255, 255, 0.699);
  font-weight: 900;
}
footer .foot .lon p span {
  padding-right: 10px;
  color: aliceblue;
}
footer .call p1 a {
  color: rgba(255, 255, 255, 0.699);
  font-weight: 900;
  padding-left: 10px;
}
footer .foot .call {
  padding-right: 40px;
}
footer .mail p3 a {
  color: rgba(255, 255, 255, 0.699);
  font-size: 16px;
  padding-left: 10px;
  font-weight: 900;
}
footer .foot .icon {
  margin-left: 1%;
}
footer .foot .icon ul {
  display: flex;
  gap: 25px;
}
footer .foot .icon ul li a {
  color: rgba(255, 255, 255, 0.678);
  font-size: 17px;
}
.signup {
  margin-left: 80px;
  cursor: pointer;
}
.signup button {
  padding: 5px;
  border-radius: 5px;
  background-color: #5c07ee;
  color: white;
  font-size: 15px;
  margin-left: 10px;
}
.signup button a {
  color: white;
}
/****************navbar******************/
.header {
  background-color: #e1edf3;
  position: fixed;
  transition: 0.8s ease-in-out all;

  width: 100%;
}
.header .marginn {
  margin: 0px 40px;
}
.header .padding {
  padding: 25px 0px;
}
.header .navbar {
  display: flex;
  align-items: center;
}
.header .navbar .logo {
  flex: 1;
}
.header .navbar .nav {
  padding-right: 20px;
  transition: 1s ease-in-out all;
}
.header .navbar .nav ul li a {
  color: rgb(95, 87, 87);
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.8s ease-in-out all;
}
.header .navbar .nav ul li span {
  font-size: 17px;
}

.header .navbar .nav ul li a:hover {
  color: #673ab7;
}
.header .navbar .nav ul li a.active {
  color: #673ab7;
}
.header .navbar .nav ul {
  display: flex;
  gap: 30px;
}

/*****css addd*/
.jk {
  background-color: black;
  /* color: #e1edf3; */
}

.header .navbar .barss {
  display: none;
}

.header .navbar .barss .btn {
  height: 35px;
  width: 35px;
  position: relative;
  border: transparent;
  border-radius: 5px;
  background-color: #673ab7;
  margin-right: 15px;
  margin-left: 15px;
  color: #e1edf3;
  font-size: 20px;
}

.header .navbar .sarch button {
  height: 40px;
  width: 40px;
  border: transparent;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.404);
  margin-right: 15px;
  margin-left: 15px;
}
.header .navbar .sarch button span {
  font-size: 20px;
}
.header .navbar .sar span {
  font-size: 22px;
}

/******new  csss add*/
.header .navbar .nimesh {
  padding: 20px 0px;
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #673ab7;
  transition: 1s ease-in all;
}
.header .navbar .nimesh ul li a {
  color: rgb(250, 244, 244);
}
.header .navbar .nimesh ul li span {
  color: #e1edf3;
}

.header .navbar .nimesh ul li a.active {
  color: white;
}
.header .navbar .nimesh ul {
  display: flex;
  flex-direction: column;
}
.header .navbar .nimesh {
  display: block;
}
.lio {
  position: relative;
}

/** new ul list**/

.nav .lio .nik {
  display: block;
}
.lio .minii {
  display: none;
}
.lio .minii ul {
  background-color: #26243c;

  padding: 20px;
  margin-left: -10px;
  top: 56px;
  flex-direction: column;
  position: absolute;
  border-radius: 4px;
}

/******/
.box {
  height: 800px;
  width: 100px;
  background-color: aqua;
  color: white;
  font-size: 40px;
  display: grid;
  place-content: center;
}

/****headeer fix*/
.header-fix {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  transition: 0.8s ease-in-out all;
}

/*******sraech bar*/
.sarchh {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  color: white;
  position: absolute;
  display: none;
}

.sarchh .minisarch {
  margin-top: 22%;
  text-align: center;
}
.sarchh .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.sarchh .close button {
  width: 50px;
  background-color: #5c07ee;
  color: white;
  font-size: 25px;
  border-radius: 8px;
  height: 40px;
}
.sarchh .minisarch h2 {
  font-size: 25px;
  padding-bottom: 15px;
}
.sarchh .minisarch input {
  width: 250px;
  height: 40px;
  border-radius: 12px;
}
.sarchh .minisarch button {
  width: 68px;
  height: 40px;
  font-weight: 900;
  border-radius: 12px;
  font-size: 15px;
  background-color: #5c07ee;
  color: white;
  border: transparent;
}

.newsarchh {
  /* top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  color: white; */
  /* position: absolute; */
  display: block;
}

.newsarchh .minisarch {
  margin-top: 22%;
  text-align: center;
}
.newsarchh .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.newsarchh .close button {
  width: 50px;
  background-color: #5c07ee;
  color: white;
  font-size: 25px;
  border-radius: 8px;
  height: 40px;
}
.newsarchh .minisarch h2 {
  font-size: 25px;
  padding-bottom: 15px;
}
.newsarchh .minisarch input {
  width: 250px;
  height: 40px;
  border-radius: 12px;
}
.newsarchh .minisarch button {
  width: 68px;
  height: 40px;
  font-weight: 900;
  border-radius: 12px;
  font-size: 15px;
  background-color: #5c07ee;
  color: white;
  border: transparent;
}

